* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #eff0f4;
}

.common__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
